fastapi==0.116.1
pydantic==2.11.7
uvicorn==0.35.0
pandas==2.3.1

# PyTorch 2.7.0 - CPU only (smallest size ~500MB)
torch==2.8.0
torchvision==0.22.0
torchaudio==2.7.0
# --extra-index-url https://download.pytorch.org/whl/cpu

nltk==3.9.1

numpy==1.26.4
transformers==4.53.0
