services:
  mongodb1:
    image: mongo:8
    container_name: my-ai-twin-mongodb1
    command: ["mongod", "--replSet", "mdb-replica-set", "--bind_ip_all", "--port", "30001"]
    volumes:
      - mongo-replica-1-data:/data/db
    ports:
      - "30001:30001"
    networks:
      - mongodb-replica-net
    healthcheck:
      # initialize replica set using rs.initiate else db calls fail
      test: test $$(echo "rs.initiate({_id:'mdb-replica-set',members:[{_id:0,host:\"mongodb1:30001\"},{_id:1,host:\"mongodb2:30002\"},{_id:2,host:\"mongodb3:30003\"}]}).ok || rs.status().ok" | mongo --port 30001 --quiet) -eq 1
      interval: 10s
      start_period: 30s
    restart: always


  mongodb2:
    image: mongo:8
    container_name: my-ai-twin-mongodb2
    command: ["mongod", "--replSet", "mdb-replica-set", "--bind_ip_all", "--port", "30002"]
    volumes:
      - mongo-replica-2-data:/data/db
    ports:
      - "30002:30002"
    networks:
      - mongodb-replica-net
    healthcheck:
      # initialize replica set using rs.initiate else db calls fail
      test: test $$(echo "rs.initiate({_id:'mdb-replica-set',members:[{_id:0,host:\"mongodb1:30001\"},{_id:1,host:\"mongodb2:30002\"},{_id:2,host:\"mongodb3:30003\"}]}).ok || rs.status().ok" | mongo --port 30001 --quiet) -eq 1
      interval: 10s
      start_period: 30s
    restart: always


  mongodb3:
    image: mongo:8
    container_name: my-ai-twin-mongodb3
    command: ["mongod", "--replSet", "mdb-replica-set", "--bind_ip_all", "--port", "30003"]
    volumes:
      - mongo-replica-3-data:/data/db
    ports:
      - "30003:30003"
    networks:
      - mongodb-replica-net
    healthcheck:
      # initialize replica set using rs.initiate else db calls fail
      test: test $$(echo "rs.initiate({_id:'mdb-replica-set',members:[{_id:0,host:\"mongodb1:30001\"},{_id:1,host:\"mongodb2:30002\"},{_id:2,host:\"mongodb3:30003\"}]}).ok || rs.status().ok" | mongo --port 30001 --quiet) -eq 1
      interval: 10s
      start_period: 30s
    restart: always


  rabbitmq:
    image: rabbitmq:3-management
    container_name: llm-twin-mq
    hostname: rabbitmq
    ports:
      - 5672:5672 #amqp
      - 15672:15672 #http
      - 15692:15692 #prometheus
    # expose:
    #   - 5673
    #   - 15673
    networks:
      - mq-network
    volumes:
      - ./rabbitmq/data/:/var/lib/rabbitmq/
      - ./rabbitmq/conf/definitions.json:/etc/rabbitmq/definitions.json:ro  #read only
      - ./rabbitmq/conf/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro    #read only
      # - ./rabbitmq/log/:/var/log/rabbitmq
    restart: always
    healthcheck:
      # test: ["CMD", "nc", "-z", "rabbitmq", "5673"]
      test: ["CMD", "rabbitmq-diagnostics", "-q", "ping"]
      interval: 5s
      timeout: 30s
      retries: 5
      start_period: 30s


  qdrant:
    image: qdrant/qdrant:latest
    container_name: llm-twin-qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - "6333"
      - "6334"
      - "6335"
    networks:
      - vector-db-network
    volumes:
      - qdrant-data:/qdrant_data
    restart: always


  # Data Crawlers
  data-crawlers:
    image: "my-ai-twin-data-crawlers"
    container_name: my-ai-twin-data-crawlers
    platform: "linux/amd64"
    networks:
      - mongodb-replica-net
    build:
      context: .
      dockerfile: .docker/Dockerfile.data_crawlers
    env_file:
      - .env
    ports:
      - "9010:8080"
      - "5678:5678" #for debugging AWS Lambda Runtime int emulator(RIE) using debugpy
    # entrypoint: ["/usr/local/bin/aws-lambda-rie"]
    # command: ["/var/lang/bin/python", "-Xfrozen_modules=off", "-m", "debugpy", "--listen", "0.0.0.0:5678", "-m", "awslambdaric", "datapipe.aws_lambda_handler.handler"] # for debug only. Comment out for prod deployment
    depends_on:
      - mongodb1
      - mongodb2
      - mongodb3

  data_cdc:
    image: "llm-twin-data-cdc"
    container_name: llm-twin-data-cdc
    networks:
      - mq-network
      - mongodb-replica-net
    build:
      context: .
      dockerfile: .docker/Dockerfile.data_cdc
    env_file:
      - .env
    depends_on:
      mongodb1:
        condition: service_started
      mongodb2:
        condition: service_started
      mongodb3:
        condition: service_started
      rabbitmq:
        condition: service_healthy


  feature_pipeline:
    image: "llm-twin-featurepipe"
    container_name: llm-twin-featurepipe
    networks:
      - mq-network
      - mongodb-replica-net
      - vector-db-network
    build:
      context: .
      dockerfile: .docker/Dockerfile.featurepipe
    environment:
      - BYTEWAX_PYTHON_FILE_PATH=featurepipe.main:flow
      - DEBUG=false
      - BYTEWAX_KEEP_CONTAINER_ALIVE=true
    env_file:
      - .env
    depends_on:
      rabbitmq:
        condition: service_healthy
      qdrant:
        condition: service_started
    restart: always


volumes:
  mongo-replica-1-data:
    # driver: local
  mongo-replica-2-data:
    # driver: local
  mongo-replica-3-data:
    # driver: local
  qdrant-data:


networks:
  mongodb-replica-net:
    driver: bridge
  mq-network:
    driver: bridge
  vector-db-network:
    driver: bridge