services:
  mongodb1:
    image: mongo:8
    container_name: my-ai-twin-mongodb1
    command: ["mongod", "--replSet", "mdb-replica-set", "--bind_ip_all", "--port", "30001"]
    volumes:
      - mongo-replica-1-data:/data/db
    ports:
      - "30001:30001"
    networks:
      - mongodb-replica-net
    healthcheck:
      # initialize replica set using rs.initiate else db calls fail
      test: test $$(echo "rs.initiate({_id:'mdb-replica-set',members:[{_id:0,host:\"mongodb1:30001\"},{_id:1,host:\"mongodb2:30002\"},{_id:2,host:\"mongodb3:30003\"}]}).ok || rs.status().ok" | mongo --port 30001 --quiet) -eq 1
      interval: 10s
      start_period: 30s
    restart: always


  mongodb2:
    image: mongo:8
    container_name: my-ai-twin-mongodb2
    command: ["mongod", "--replSet", "mdb-replica-set", "--bind_ip_all", "--port", "30002"]
    volumes:
      - mongo-replica-2-data:/data/db
    ports:
      - "30002:30002"
    networks:
      - mongodb-replica-net
    healthcheck:
      # initialize replica set using rs.initiate else db calls fail
      test: test $$(echo "rs.initiate({_id:'mdb-replica-set',members:[{_id:0,host:\"mongodb1:30001\"},{_id:1,host:\"mongodb2:30002\"},{_id:2,host:\"mongodb3:30003\"}]}).ok || rs.status().ok" | mongo --port 30001 --quiet) -eq 1
      interval: 10s
      start_period: 30s
    restart: always


  mongodb3:
    image: mongo:8
    container_name: my-ai-twin-mongodb3
    command: ["mongod", "--replSet", "mdb-replica-set", "--bind_ip_all", "--port", "30003"]
    volumes:
      - mongo-replica-3-data:/data/db
    ports:
      - "30003:30003"
    networks:
      - mongodb-replica-net
    healthcheck:
      # initialize replica set using rs.initiate else db calls fail
      test: test $$(echo "rs.initiate({_id:'mdb-replica-set',members:[{_id:0,host:\"mongodb1:30001\"},{_id:1,host:\"mongodb2:30002\"},{_id:2,host:\"mongodb3:30003\"}]}).ok || rs.status().ok" | mongo --port 30001 --quiet) -eq 1
      interval: 10s
      start_period: 30s
    restart: always


  mq:
    image: rabbitmq:3-management-alpine
    container_name: llm-twin-mq
    ports:
      - "5673:5672"
      - "15673:15672"
    networks:
      - mq-network
    volumes:
      - ./rabbitmq/data/:/var/lib/rabbitmq/
      - ./rabbitmq/log/:/var/log/rabbitmq
    restart: always
    healthcheck:
      test: ["CMD", "nc", "-z", "localhost", "5673"]
      interval: 5s
      timeout: 30s
      retries: 5
      start_period: 30s


  qdrant:
    image: qdrant/qdrant:latest
    container_name: llm-twin-qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    expose:
      - "6333"
      - "6334"
      - "6335"
    networks:
      - vector-db-network
    volumes:
      - qdrant-data:/qdrant_data
    restart: always


  # Data Crawlers
  data-Crawlers:
    image: "my-ai-twin-data-crawlers"
    container_name: my-ai-twin-data-crawlers
    platform: "linux/arm64"
    networks:
      - mongodb-replica-net
    build:
      context: .
      dockerfile: .docker/Dockerfile.data_crawlers
    env_file:
      - .env
    ports:
      - "9010:8080"
    depends_on:
      - mongodb1
      - mongodb2
      - mongodb3

  data_cdc:
    image: "llm-twin-data-cdc"
    container_name: llm-twin-data-cdc
    networks:
      - mq-network
    build:
      context: .
      dockerfile: .docker/Dockerfile.data_cdc
    env_file:
      - .env
    depends_on:
      - mongodb1
      - mongodb2
      - mongodb3
      - mq


  feature_pipeline:
    image: "llm-twin-featurepipe"
    container_name: llm-twin-featurepipe
    networks:
      - mq-network
      - mongodb-replica-net
      - vector-db-network
    build:
      context: .
      dockerfile: .docker/Dockerfile.featurepipe
    environment:
      - BYTEWAX_PYTHON_FILE_PATH=featurepipe.main:flow
      - DEBUG=false
      - BYTEWAX_KEEP_CONTAINER_ALIVE=true
    env_file:
      - .env
    depends_on:
      - mq
      - qdrant
    restart: always


volumes:
  mongo-replica-1-data:
    # driver: local
  mongo-replica-2-data:
    # driver: local
  mongo-replica-3-data:
    # driver: local
  qdrant-data:


networks:
  mongodb-replica-net:
    driver: bridge
  mq-network:
    driver: bridge
  vector-db-network:
    driver: bridge